<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django</title>
</head>
<body>
  <div>
    <h1><a href="">kakaru</a></h1>
  </div>

  {% for post in posts %}
    <div>
      <p>published: {{ post.published_date }}</p>
      <h1><a href="">{{ post.title }}</a></h1>
      <p>{{ post.text|linebreaksbr }}</p>    
    </div>
  {% endfor %}

  <!-- <div>
    <p>published: 21.02.2018, 17:13</p>
    <h2><a href="">My first post</a></h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid labore consequatur, voluptas delectus nemo, veniam dignissimos optio fuga impedit dolorum facere nam perferendis alias vero ipsam iste, quasi nulla! Est!</p>
  </div>
  
  <div>
      <p>published: 21.02.2018, 17:13</p>
      <h2><a href="">My second post</a></h2>
      <p>Hello world! simple?</p>
  </div> -->
</body>
</html>